@font-face {
    font-family: monoHeavy;
    src: url(../assets/fonts/SFMonoHeavy.otf);
}
@font-face {
    font-family: monoBold;
    src: url(../assets/fonts/SFMonoBold.otf);
}
@font-face {
    font-family: monoMedium;
    src: url(../assets/fonts/SFMonoMedium.otf);
}

@font-face {
    font-family: monoRegular;
    src: url(../assets/fonts/SFMonoRegular.otf);
}
@font-face {
    font-family: monoLight;
    src: url(../assets/fonts/SFMonoLight.otf);
}