footer {
    background-color: var(--clr-box);
    display: flex;
    span {
        margin: 1rem auto;
        text-align: center;
        font-size: 0.8rem;
        font-weight: lighter;
        color: var(--clr-text-gray);
        text-align: center;
    }
}
