@charset "UTF-8";
html[theme=dark] {
  --clr-blue: #08fdd8;
  --clr-pink: #fd1056;
  --clr-text-gray: #ababab;
  --clr-light-gray: #f0f3ff;
  --clr-dark-gray: #1a1a1a;
  --clr-main-background: #1d1d1d;
  --clr-box: #080808;
  --clr-text: #fff;
}

html[theme=light] {
  --clr-blue: #08fdd8;
  --clr-pink: #fd1056;
  --clr-text-gray: #ababab;
  --clr-light-gray: #ccd6f6;
  --clr-text: #2a2a2a;
  --clr-box: #080808;
  --clr-main-background: #ffffff;
}

@font-face {
  font-family: Rubik;
  src: url(../fonts/Rubik-Black.ttf);
  font-weight: 900;
}
@font-face {
  font-family: Rubik;
  src: url(../fonts/Rubik-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Rubik;
  src: url(../fonts/Rubik-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Rubik;
  src: url(../fonts/Rubik-Regular.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Rubik;
  src: url(../fonts/Rubik-Light.ttf);
  font-weight: 100;
}
html[theme=dark] {
  --clr-blue: #08fdd8;
  --clr-pink: #fd1056;
  --clr-text-gray: #ababab;
  --clr-light-gray: #f0f3ff;
  --clr-dark-gray: #1a1a1a;
  --clr-main-background: #1d1d1d;
  --clr-box: #080808;
  --clr-text: #fff;
}

html[theme=light] {
  --clr-blue: #08fdd8;
  --clr-pink: #fd1056;
  --clr-text-gray: #ababab;
  --clr-light-gray: #ccd6f6;
  --clr-text: #2a2a2a;
  --clr-box: #080808;
  --clr-main-background: #ffffff;
}

@font-face {
  font-family: Rubik;
  src: url(../fonts/Rubik-Black.ttf);
  font-weight: 900;
}
@font-face {
  font-family: Rubik;
  src: url(../fonts/Rubik-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Rubik;
  src: url(../fonts/Rubik-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Rubik;
  src: url(../fonts/Rubik-Regular.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Rubik;
  src: url(../fonts/Rubik-Light.ttf);
  font-weight: 100;
}
.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--black);
  height: 100px;
  font-family: "monoHeavy";
  color: var(--blue);
  font-size: 30px;
}

nav {
  margin: 2rem 0;
}
nav .container {
  gap: 2rem;
}
nav .navbar-brand {
  font-size: 20px;
  font-weight: 900;
  background-image: linear-gradient(90deg, var(--clr-blue), var(--clr-pink));
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
nav .navbar-toggler {
  border: none;
  padding: 0 !important;
}
nav .offcanvas {
  width: 100% !important;
  background-color: var(--clr-main-background) !important;
  color: var(--bs-offcanvas-color);
  transition: transform 1s ease-out;
}
nav .navbar-nav {
  width: 100%;
  gap: 1rem;
  align-items: center;
}
nav .nav-item a {
  font-size: 14px;
  color: var(--clr-text-gray) !important;
  font-weight: 500;
}
nav .nav-item a:hover {
  color: var(--clr-blue) !important;
  transition: all 1s ease-out;
}
nav .nav-item a span {
  color: var(--clr-blue);
  font-weight: 500;
}
nav .resume {
  border: 1px solid var(--clr-blue);
  color: var(--clr-blue) !important;
  transition: all ease-in-out 0.5;
  font-size: 14px;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
}
nav .resume:hover {
  background-color: rgba(0, 247, 255, 0.075);
}

@media screen and (max-width: 992px) {
  .navbar-nav {
    gap: 2rem !important;
    margin-bottom: 2rem !important;
  }
  .offcanvas-body {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5rem;
  }
  .nav-link {
    font-size: 1rem !important;
  }
}
.hero {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.hero #particles-js {
  width: 100%;
  height: 80vh;
  position: absolute;
  z-index: -1;
}
.hero a {
  position: relative;
  z-index: 2;
}
.hero .container {
  display: flex;
  justify-content: space-between;
  height: 80vh;
  align-items: center;
}
.hero-title {
  display: flex;
  flex-direction: column;
  height: 45vh;
  justify-content: space-between;
}
.hero-title > span {
  font-size: 1rem;
  font-weight: 400;
  color: var(--clr-blue);
}
.hero-title > h1 {
  font-size: calc(4vw + 18px);
  font-weight: 400;
  color: var(--clr-light-gray);
  margin-bottom: 0;
}
.hero-title > h2 {
  font-size: calc(4vw + 18px);
  font-weight: 400;
  color: var(--clr-text-gray);
  margin-bottom: 0;
}
.hero-title > p {
  font-size: 1rem;
  color: var(--clr-text-gray);
  margin-bottom: 0;
}
.hero-title a {
  text-decoration: none;
  color: var(--clr-blue);
  font-weight: 300;
}
.hero-social {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}
.hero-social a svg {
  fill: var(--clr-text-gray);
  width: 29px;
}
.hero-social a svg:hover {
  fill: var(--clr-pink);
  transition: all 0.5s ease-out;
}

@media screen and (max-width: 768px) {
  .hero .container {
    flex-direction: column;
    justify-content: space-evenly;
  }
  .hero-social {
    display: flex;
    flex-direction: row;
  }
}
.about-me {
  background-color: var(--clr-dark-gray);
  padding: 4rem 0;
}
.about-me .container .title {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
.about-me .container .title h2 {
  color: var(--clr-light-gray);
  font-size: calc(1.5vw + 5px);
}
.about-me .container .title h2 > span {
  color: var(--clr-blue);
  font-size: 1.25rem;
  font-weight: 400;
  margin-right: 0.5rem;
}
.about-me .container .title .line {
  content: "";
  display: block;
  width: 20vw;
  height: 1px;
  background-color: var(--clr-light-gray);
}
.about-me .container .body {
  display: flex;
}
.about-me .container .body .description p {
  color: var(--clr-text-gray);
  font-weight: lighter;
  margin-bottom: 3rem;
}
.about-me .container .body .description .skills {
  gap: 2rem;
  justify-content: space-between;
}
.about-me .container .body .description .skills > div h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  color: var(--clr-text-gray);
  font-size: 1rem;
  border-radius: 5px;
  background-color: var(--clr-box);
  height: 2rem;
}
.about-me .container .body .description .skills > div ul {
  display: flex;
  gap: 1rem;
  margin-bottom: 0;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0;
}
.about-me .container .body .description .skills > div ul:nth-child(2) {
  margin-left: 2rem;
}
.about-me .container .body .description .skills > div ul li {
  min-width: 130px;
  font-size: 0.9rem;
  font-weight: lighter;
  color: var(--clr-text-gray);
}
.about-me .container .body .description .skills > div ul li::before {
  color: var(--clr-blue);
  content: "▹";
  line-height: 12px;
}
.about-me .container .body .image {
  display: flex;
  justify-content: center;
}
.about-me .container .body .image img {
  width: 90%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media screen and (max-width: 767px) {
  .about-me .container .title h2 {
    width: 100%;
    text-align: center;
    font-size: calc(2vw + 12px);
  }
  .about-me .container .title .line {
    display: none;
  }
  .about-me .container .body .description p {
    margin: 2rem 0;
  }
  .about-me .container .body .description .skills {
    gap: 2rem;
    justify-content: space-between;
    flex-direction: column;
  }
  .about-me .container .body .image img {
    width: 60%;
  }
}
@media screen and (max-width: 991px) {
  .about-me .container .body {
    align-items: flex-start;
  }
  .about-me .container .body .description .skills {
    gap: 2rem;
    justify-content: space-between;
    flex-direction: column;
  }
}
.works {
  padding: 4rem 0;
}
.works .container .title {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
.works .container .title h2 {
  color: var(--clr-light-gray);
  font-size: calc(1.5vw + 5px);
}
.works .container .title h2 > span {
  color: var(--clr-blue);
  font-size: 1.25rem;
  font-weight: 400;
  margin-right: 0.5rem;
}
.works .container .title .line {
  content: "";
  display: block;
  width: 20vw;
  height: 1px;
  background-color: var(--clr-light-gray);
}
.works .container .nav .nav-link {
  border-radius: 0;
  border-left: 1px solid var(--clr-text-gray);
  color: var(--clr-text-gray);
  font-size: 14px;
}
.works .container .nav .nav-link:focus {
  background-color: transparent;
  border-left: 3px solid var(--clr-blue);
}
.works .container .nav .nav-link.active {
  background-color: transparent;
  border-left: 4px solid var(--clr-blue);
  border-radius: 0;
}
.works .container .tab-content .tab-pane {
  gap: 1rem;
  flex-direction: column;
}
.works .container .tab-content .tab-pane .tab-body {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.works .container .tab-content .tab-pane h5 {
  font-size: 1.25rem;
  color: var(--clr-blue);
  margin-bottom: 0;
  line-height: 2rem;
}
.works .container .tab-content .tab-pane h5 > span {
  color: var(--clr-text-gray);
  font-weight: lighter;
  font-size: 1rem;
  padding-left: 1rem;
}
.works .container .tab-content .tab-pane span {
  color: var(--clr-text-gray);
  font-weight: lighter;
  margin-bottom: 1rem;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}
.works .container .tab-content .tab-pane ul {
  display: flex;
  gap: 1rem;
  margin-bottom: 0;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0;
}
.works .container .tab-content .tab-pane ul li {
  min-width: 130px;
  font-size: 0.9rem;
  font-weight: lighter;
  color: var(--clr-text-gray);
}
.works .container .tab-content .tab-pane ul li::before {
  color: var(--clr-blue);
  content: "▹";
  line-height: 12px;
}

@media screen and (max-width: 767px) {
  .works .container .title h2 {
    width: 100%;
    text-align: center;
    font-size: calc(2vw + 12px);
  }
  .works .container .title .line {
    display: none;
  }
  .works .container .nav {
    padding: 1rem;
    margin-bottom: 2rem;
  }
  .works .container .nav .nav-link.active {
    border-bottom: 3px solid var(--clr-blue);
    border-left: none;
  }
  .works .container .nav .nav-link {
    width: 33.33%;
    border-bottom: 1px solid var(--clr-text-gray);
    border-left: 0;
  }
  .works .container .nav .nav-link:focus {
    border-bottom: 3px solid var(--clr-blue);
    border-left: none;
  }
}
.projects {
  background-color: var(--clr-dark-gray);
  padding: 4rem 0;
}
.projects .container .title {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
.projects .container .title h2 {
  color: var(--clr-light-gray);
  font-size: calc(1.5vw + 5px);
}
.projects .container .title h2 > span {
  color: var(--clr-blue);
  font-size: 1.25rem;
  font-weight: 400;
  margin-right: 0.5rem;
}
.projects .container .title .line {
  content: "";
  display: block;
  width: 20vw;
  height: 1px;
  background-color: var(--clr-light-gray);
}
.projects .container .body .project .description {
  width: 40%;
}
.projects .container .body .project .description h3 {
  color: var(--clr-blue);
  font-size: 18px;
  font-weight: bold;
}
.projects .container .body .project .description p {
  color: var(--clr-text-gray);
  font-weight: lighter;
  text-align: justify;
  text-justify: inter-word;
}
.projects .container .body .project .swiper {
  max-width: 35%;
}
.projects .container .body .project .swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects .container .body .project .swiper .swiper-slide .card {
  border-radius: 10px;
  overflow: hidden;
  border: none;
}
.projects .container .body .project .swiper .swiper-slide .card .image-one {
  background-image: url("../img/BookmarkLandingPage.jpg");
}
.projects .container .body .project .swiper .swiper-slide .card .image-two {
  background-image: url("../img/advice-generator.jpg");
}
.projects .container .body .project .swiper .swiper-slide .card .image-three {
  background-image: url("../img/loopstudios.jpg");
}
.projects .container .body .project .swiper .swiper-slide .card .image-four {
  background-image: url("../img/easyBank.jpg");
}
.projects .container .body .project .swiper .swiper-slide .card .projectIamge {
  height: 12rem;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.projects .container .body .project .swiper .swiper-slide .card .card-body {
  background-color: var(--clr-box);
}
.projects .container .body .project .swiper .swiper-slide .card .card-body .card-title {
  color: var(--clr-blue);
  font-size: 18px;
  padding: 12px 0;
  margin-bottom: 0;
}
.projects .container .body .project .swiper .swiper-slide .card .card-body .card-text {
  color: var(--clr-light-gray);
  font-size: 14px;
  font-weight: lighter;
  max-height: 65px;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.projects .container .body .project .swiper .swiper-slide .card .card-body .tools {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}
.projects .container .body .project .swiper .swiper-slide .card .card-body .tools > span {
  color: var(--clr-text-gray);
  font-size: 0.75rem;
  font-weight: lighter;
}

@media screen and (max-width: 767px) {
  .projects .container .title h2 {
    width: 100%;
    text-align: center;
    font-size: calc(2vw + 12px);
  }
  .projects .container .title .line {
    display: none;
  }
  .projects .container .body .project .description {
    margin-bottom: 2rem;
    width: 100%;
  }
  .projects .container .body .project .swiper {
    max-width: 55vw;
  }
  .projects .container .body .project .swiper .swiper-slide .card .projectIamge {
    height: 10rem;
  }
  .projects .container .body .project .swiper .swiper-slide .card .card-body .card-title {
    padding: 0 0 12px 0;
  }
}
.graphic-projects {
  padding: 4rem 0;
}
.graphic-projects .title {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
.graphic-projects .title h2 {
  color: var(--clr-light-gray);
  font-size: calc(1.5vw + 5px);
}
.graphic-projects .title h2 > span {
  color: var(--clr-blue);
  font-size: 1.25rem;
  font-weight: 400;
  margin-right: 0.5rem;
}
.graphic-projects .title .line {
  content: "";
  display: block;
  width: 20vw;
  height: 1px;
  background-color: var(--clr-light-gray);
}
.graphic-projects .body .swiper {
  width: 100%;
  padding-top: 32px;
  padding-bottom: 50px;
}
.graphic-projects .body .swiper-slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  width: 300px;
  height: 350px;
  border-radius: 10px;
}
.graphic-projects .body .image-one {
  background-image: url("../img/nemoone-kar/sample (1).jpg");
}
.graphic-projects .body .image-two {
  background-image: url("../img/nemoone-kar/sample (2).jpg");
}
.graphic-projects .body .image-three {
  background-image: url("../img/nemoone-kar/sample (3).jpg");
}
.graphic-projects .body .image-four {
  background-image: url("../img/nemoone-kar/sample (4).jpg");
}
.graphic-projects .body .image-five {
  background-image: url("../img/nemoone-kar/sample (5).jpg");
}
.graphic-projects .body .image-six {
  background-image: url("../img/nemoone-kar/sample (6).jpg");
}
.graphic-projects .body .swiper-slide img {
  display: block;
  width: 100%;
}
.graphic-projects .body .swiper-pagination-bullet-active {
  background-color: var(--clr-blue);
}
.graphic-projects .body .swiper-pagination-bullet {
  background-color: var(--clr-text-gray);
}

@media screen and (max-width: 767px) {
  .graphic-projects .title h2 {
    width: 100%;
    text-align: center;
    font-size: calc(2vw + 12px);
  }
  .graphic-projects .title .line {
    display: none;
  }
}
.contact {
  background-color: var(--clr-box);
  padding: 4rem 0 2rem 0;
}
.contact .title {
  font-size: calc(2vw + 15px);
  font-weight: 500;
  background: #08fdd8;
  background: linear-gradient(to right, #08fdd8 11%, #fd1056 89%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-bottom: 1rem;
}
.contact p {
  max-width: 40%;
  font-size: 0.9rem;
  font-weight: lighter;
  color: var(--clr-text-gray);
  text-align: center;
}
.contact .cta {
  -webkit-animation: 1s pulse infinite;
          animation: 1s pulse infinite;
}
.contact table tr td table tr td:hover {
  background-color: rgba(8, 253, 216, 0.1529411765);
}
@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(1, 0, 0, 0.5);
  }
  100% {
    box-shadow: 0 0 0 5px rgba(8, 253, 216, 0.5058823529);
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(1, 0, 0, 0.5);
  }
  100% {
    box-shadow: 0 0 0 5px rgba(8, 253, 216, 0.5058823529);
  }
}

@media screen and (max-width: 767px) {
  .contact .container .email {
    font-size: calc(1.5vw + 10px);
    padding: 1.5rem 2rem;
  }
  .contact .container p {
    max-width: 100%;
  }
}
footer {
  position: fixed;
  background-color: var(--clr-box);
  display: flex;
}
footer span {
  margin: 1rem auto;
  text-align: center;
  font-size: 0.8rem;
  font-weight: lighter;
  color: var(--clr-text-gray);
  text-align: center;
}

* {
  font-family: "Rubik";
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: var(--clr-main-background);
}
body .reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 1.5s ease;
}
body .reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--darkGray);
  height: 100px;
  font-family: "monoHeavy";
}