@import "./color";
@import "./fonts";
@import "./header";
@import "./hero";
@import "./about";
@import "./works";
@import "./projects";
@import "./graphicProjects";
@import "./contact";
@import "./footer";
* {
    font-family: "Rubik";
}
html {
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
    background-color: var(--clr-main-background);
    .reveal {
        position: relative;
        transform: translateY(150px);
        opacity: 0;
        transition: all 2s ease;
    }
    .reveal.active {
        transform: translateY(0px);
        opacity: 1;
    }
}

.footer {
    @include flexCenter(column, var(--darkGray));
}
