@import "./color";
@import "./fonts";
@import "./header";
@import "./hero";
@import "./about";
@import "./works";
@import "./projects";
@import "./graphicProjects";
@import "./contact";
@import "./footer";
* {
    font-family: "Rubik";
}
body {
    overflow-x: hidden;
    background-color: var(--clr-main-background);
}
.footer {
    @include flexCenter(column, var(--darkGray));
}
